<!DOCTYPE html>
<html>
    <title>
        NMSU MSEIP
    </title>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <H1 style="padding: 7px; font-size: 300%; background-color: #8c0b42; color: white">
            <img src="/static/logo-new.png" alt="NMSU Logo" style="padding: 7px; float:right; width: 20%; height: 20%;">
            NMSU MSEIP
        </H1>
        <p>
            {% block content %}{% endblock %}
        </p>
    </head>
</html>